.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width:60%;
  }
  
  mat-form-field {
  margin-right: 12px;
  width:24%;
}

.btn{
  margin-right: 12px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel{
  width: 60%;
}

.EducationSon{
  width: 175%;
}

.EducationSonDate{
  width:175%;
}

.EducationSonCity{
  width:40%;  
}
  