<mat-card>
    <h1>Personal Details</h1>
    <form #cvform="ngForm">
      <div class="example-container">

        <mat-form-field appearance="outline">
          <mat-label>Job Title</mat-label>
          <input type = "text" matInput placeholder="e.g Teacher">
        </mat-form-field>
    
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type = "text" matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input type = "text" matInput placeholder="Last Name">
        </mat-form-field>
      </div>
        
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type = "email" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input type = "number" matInput placeholder="Phone">
        </mat-form-field>
      </div>

      <div [hidden] = "isDisplay">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input type = "text" matInput placeholder="Country">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input type = "text" matInput placeholder="City">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input type = "text" matInput placeholder="Address">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Postal Code</mat-label>
            <input type = "number" matInput placeholder="Postal Code">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field  matTooltip="Include this section if your profession requires a certain type of license. if not, leave it blank." 
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="3000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container" appearance="outline">
            <mat-label>Driving License</mat-label>
            <input type = "text" matInput placeholder="Driving License">
          </mat-form-field>
  
          <mat-form-field matTooltip="Include your nationality only if it is relevant to your position. in most cases, leave it blank."  
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="3000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container" appearance="outline">
            <mat-label>Nationality</mat-label>
            <input type = "text" matInput placeholder="Nationality">
          </mat-form-field>
        </div>
       
        <div>
          <mat-form-field appearance="outline">
            <mat-label >Place Of Birth</mat-label>
            <input type = "date" matInput placeholder="Place Of Birth">
          </mat-form-field>
  
          <mat-form-field matTooltip="Add your date of birth only if it is a relevant requirement for your position. In most cases, leave this blank." 
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="3000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container" appearance="outline">
            <mat-label>Date Of Birth</mat-label>
            <input type = "date" matInput placeholder="Date Of Birth">
          </mat-form-field>
        </div>

        <div>
          <a mat-flat-button style = "color:dodgerblue" (click) = "toggleDisplay()">Hide additional details <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_up
            icon">keyboard_arrow_up</mat-icon> </a>
        </div>

      </div>

      <div [hidden] = "hiddenBtn">
        <a mat-flat-button style = "color:dodgerblue" (click) = "toggleDisplay()">Edit additional details <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_down
          icon">keyboard_arrow_down</mat-icon> </a>
      </div>

      <div>
        <p style = "color:gray">Include 2-3 clear sentences about your overall experience</p>
        <mat-form-field class = "example-full-width" appearance="outline">
          <mat-label>Professional Summary</mat-label>
          <textarea input type = "text" 
              matInput placeholder="e.g Passionate science teacher with 8+ years of exprience and a track record of..."
              cdkTextareaAutosize
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"                           
          >
          </textarea>     
      </mat-form-field>

      </div>

      <h2>Education</h2>
      <p style = "color:gray">If relevant, include your most recent educational achivements and the dates here</p>
      <mat-accordion [hidden] = "educationDisplay">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              title
            </mat-panel-title>
            <mat-panel-description>
              date 
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class = "EducationSon">
            <mat-form-field  appearance="outline">
              <mat-label>School</mat-label>
              <input type = "text" matInput placeholder="School">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Dgree</mat-label>
              <input type = "text" matInput placeholder="Dgree">
            </mat-form-field>
          </div>
      
          <div>
            <mat-form-field class = "EducationSonCity" appearance="outline">
              <mat-label>City</mat-label>
              <input type = "text" matInput placeholder="City">
            </mat-form-field>
          </div>

          <hr>
          <div class = "EducationSonDate">
            <h4 style = "color:gray">Start & End Date</h4>
            <mat-form-field appearance="outline">
              <input type = "date" matInput placeholder="Start Date">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <input type = "date" matInput placeholder="End Date">
            </mat-form-field>

          </div>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
        </mat-expansion-panel>
      </mat-accordion>
<br>
      <div>
        <a mat-flat-button style = "color:dodgerblue" (click) = " educationtoggle()">Add education <mat-icon aria-hidden="false" aria-label="Example add
          icon">add</mat-icon> </a>
      </div>
<br>
        <div>
          <button mat-raised-button color="primary" [disabled]="!cvform.form.valid">Save</button>
          
          <button mat-raised-button [routerLink]="'/cvpdf'">Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>

