<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/buildcv']" routerLinkActive="active">Build your CV</a>
      <a mat-list-item [routerLink]="['/classifycv']" routerLinkActive="active">Find your specific job</a>
      <a mat-list-item [routerLink]="['/jobslist']" routerLinkActive="active">Jobs list</a>
      <a mat-list-item [routerLink]="['/favjobs']" routerLinkActive="active">Favorite jobs</a>
      <a mat-list-item [routerLink]="['/favjobs']" routerLinkActive="active">My CV's</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Jce jobs</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

